.simple-text-section {
    margin-bottom: 30px;
    h4.heading {
        margin-bottom: 20px;
        position: relative;
    }
}

.simple-text {
    font-size: 16px;
    line-height: 22px;
    img {
        margin: 20px 0;
    }
    ul {
        margin-top: 10px;
        list-style: disc;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    ol {
        list-style: decimal;
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    p {
        line-height: 22px;
        margin-bottom: 15px;
    }
}